<!-- <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
  <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
</div> -->
<!-- <div class="row" > -->
    <div class="box {{post.size}}" ng-repeat="post in posts">
        <img ng-src="images/{{post.size}}2.jpg">
        <div class="picText">{{post.information}}</div>
    </div>
<!-- </div> -->
<div class="events container" infinite-scroll="loadMore()" infinite-scroll-distance="3">
{{posts}}
    <div class="row">
        <div class="about box medium first">
            <img src="images/medium2.jpg"/>
            <div class="picText">Drop Dat Bass</div>
        </div>

        <div class="twitter box small last">
           <a class="twitter-timeline" href="https://twitter.com/QuinAdney" data-widget-id="490208497217175554">Tweets by @QuinAdney</a>
           <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>

    <div class="row">
        <div class="box small first">
          <img src="images/small3.jpg"/>
            <div class="picText">City Life</div>
        </div>
        <div class="box medium last">
            <img src="images/medium.jpg"/>
              <div class="picText">Bars Galore</div>
        </div>
    </div>
    <div class="row">
        <div class="box small first">
            <img src="images/small2.jpg"/>
              <div class="picText">Hamburgers</div>
        </div>                 
        <div class="box medium last">
            <img src="images/medium2.jpg"/>
              <div class="picText">Drop Dat Bass</div>
        </div>
    </div>
    <div class="row">
        <div class="box medium first">
            <img src="images/medium.jpg"/>
            <div class="picText">Bars Galore</div>
        </div>
        <div class="box small last">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
    </div>
    <div class="row">
        <div class="box large full">
          <img src="images/large2.jpg"/>
          <div class="picText">Peaceful Getaways Close By</div>
        </div>
    </div>
    <div class="row">
        <div class="box small first">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
        <div class="box small middle">
            <img src="images/small2.jpg"/>
            <div class="picText">Hamburgers</div>
        </div>
        <div class="box small last">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
    </div>
    <div class="row">
        <div class="box medium first">
            <img src="images/medium2.jpg"/>
            <div class="picText">Drop Dat Bass</div>
        </div>
        <div class="box small last">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
    </div>
    <div class="row">
        <div class="box large full">
            <img src="images/large.jpg"/>
            <div class="picText">All the Baseball You Could Ever Want</div>
        </div>
    </div>
    <div class="row">
        <div class="box small first">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
        <div class="box small middle">
            <img src="images/small3.jpg"/>
                <div class="picText">City Life</div>
        </div>
        <div class="box small last">
            <img src="images/small2.jpg"/>
            <div class="picText">Hamburgers</div>
        </div>
    </div>
    <div class="row">
        <div class="box medium first">
            <img src="images/medium2.jpg"/>
            <div class="picText">Drop Dat Bass</div>
        </div>
        <div class="box small last">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
    </div>
    <div class="row">
        <div class="box large full">
            <img src="images/large.jpg"/>
            <div class="picText">All the Baseball You Could Ever Want</div>
        </div>
    </div>
    <div class="row">
        <div class="box small first">
            <img src="images/small3.jpg"/>
                <div class="picText">City Life</div>
        </div>
        <div class="box small middle">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
        <div class="box small last">
            <img src="images/small2.jpg"/>
            <div class="picText">Hamburgers</div>
        </div>
    </div>
    <div class="row">
        <div class="box medium first">
            <img src="images/medium.jpg"/>
            <div class="picText">Bars Galore</div>
        </div>
        <div class="box small last">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
    </div>
    <div class="row">
        <div class="box large full">
            <img src="images/large2.jpg"/>
            <div class="picText">Peaceful Getaways Close By</div>
        </div>
    </div>
    <div class="row">
        <div class="box small first">
            <img src="images/small2.jpg"/>
            <div class="picText">Hamburgers</div>
        </div>
        <div class="box small middle">
            <img src="images/small3.jpg"/>
                <div class="picText">City Life</div>
        </div>
        <div class="box small last">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
    </div>
    <div class="row">
        <div class="box medium first">
            <img src="images/medium2.jpg"/>
            <div class="picText">Drop Dat Bass</div>
        </div>
        <div class="box small last">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
    </div>
    <div class="row">
        <div class="box large full">
            <img src="images/large.jpg"/>
            <div class="picText">All the Baseball You Could Ever Want</div>
        </div>
    </div>
    <div class="row">
        <div class="box small first">
            <img src="images/small1.jpg"/>
            <div class="picText">Baseball</div>
        </div>
        <div class="box small middle">
            <img src="images/small2.jpg"/>
            <div class="picText">Hamburgers</div>
        </div>
        <div class="box small last">
            <img src="images/small3.jpg"/>
            <div class="picText">City Life</div>
        </div>
    </div>
</div>