<div class="subTitle">
  <h1>Submit an Event Here</h1>
</div>
<div class="submissions">
  <div class="submission">
  <p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.</p>
  </div>
  <div class="submission">
    <form>
      <div style="font-weight: bold;">Event or Establishment?</div>
      <div>Title:<input ng-model="title" type="text"></div>
      <div>{{title}}</div>
      <div>Information:<input ng-model="information" type="text"></div>
      <div>Category:<input ng-model="cateogry" type="text"></div>
      <div>District:<input ng-model="district" type="text"></div>
      <div>Address:<input ng-model="address" type="text"></div>
      <div>Pic:<input ng-model="pic" type="text"></div>
      <br><br>
      <div>Start Date:<input ng-model="startDate" type="text"></div>
      <div>Stop Date:<input ng-model="stopDate" type="text"></div>
    </form>
  </div>
</div>